body {
  background-color: #f2f2f2;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #2b8ad6;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav button {
  float: left;
  display: block;
  color: #bfdcf3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgba(33, 150, 243, 0.48);
  opacity: 0.6;
  color: white;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  color: white;
  border-bottom: 2px solid white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
