* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 8vh;
  min-width: 100%;
  /* background-color: #e9e9e9; */
  background-color: rgb(255, 255, 255);
  font-family: "Ubuntu";
  font-weight: 600;
  /* font-size: small; */
  box-shadow: 0px 3.40456px 3.40456px rgba(0, 0, 0, 0.24);
}

.logo {
  color: rgba(0, 0, 0, 0.6);
  font-size: small;
  margin-top: 10px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-top: 14px;
}

.nav-links li {
  list-style-type: none;
}

.nav-links a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  font-size: small;
}

/* Style the "active" element to highlight the current page
.topnav a.active {
  background-color: #2196F3;
  color: white;
} */

.nav-links a.active {
  /* opacity: 0.6; */
  text-decoration: underline;
  color: #2196f3;
  text-decoration-color: #2196f3;
  /* text-decoration-thickness: ; */
}

.nav-links :hover {
  color: #2196f3;
}

button {
  border: none;
  background-color: transparent;
}

.emp {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  font-size: small;
}

.tabol {
  border: 2px solid #2196f3;
  width: 50%;
  background-color: rgb(255, 255, 255);
}
